@import 'tailwindcss';

@theme {
  /*
  Tools for generating a design system:
  - https://tints.dev/
  - https://colorpicker.me/
  - https://uicolors.app/
  */

  /* Theme colours */
  --color-primary: #a5bd69;
  --color-body: #cfd4dd;
  --color-foreground: #8d99ae;
  --color-background: #2b2d42;

  /* Tile selection colour scale */
  --color-tile-1: #a5bd69;
  --color-tile-2: #76a885;
  --color-tile-3: #728999;
  --color-tile-4: #7b6d8f;
  --color-tile-5: #753f6a;

  /* Fonts */
  --font-body: 'Inter', 'Helvetica', sans-serif;
  --font-mono: 'DM Mono', 'Courier', monospace;
}
